*{
	box-sizing:border-box;
}

body{
font-family: 'Fredoka One', cursive;
text-align: center;
background-image: url("../images/img01.jpg");
background-size: cover;
background-attachment: fixed;
background-position: center;
}




h1{
	display: flex;
	font-family: 'Fredoka One', cursive;

}


section {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.menu{
	flex-basis: 600px;
	text-align: center;
	font-size: 1.2em;
	background-color: 	#FFD700;
	border: 2px solid #FFD700;
	border-radius: 4px;
	font-family: 'Niramit', sans-serif;
}


.text-content {
	flex-basis: 800px;
	display: flex;
	align-items: center;
	text-align: center;
	margin-bottom: 15px;
}

p {
	font-family: 'Niramit', sans-serif;
	color : #fff;
	font-size: 1.2em;
	margin-left: 130px;
	margin-right: 130px;
}


.video{
	margin-bottom: 30px;
	background-color: black;
	flex-direction: 800px;
	display: flex;
	align-content: center;
	border:3px solid black;
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
}

.button01{
	font-size: 1em;
	background-color: yellow;
	border: 2px solid yellow;
	border-radius: 4px;
	font-family: 'Niramit', sans-serif;
}
